extends ../layouts/layout.pug

block content
  h2 The list of all our dear clients
  ul
    each user in users
      li
        a(href=routes.userShow(user.id)) #{user.username} (#{user.email})
        //- a(href=`/users/${user.id}`) #{user.username} (#{user.email})
  a(href=routes.newUser()) Новый пользователь