extends ../layouts/layout.pug

block content
  h2 Users test page
  p Total users: #{users.length}
  ul
    each user in users
      li= user.name

//- extends ../layouts/layout.pug

//- block content
//-   pre= JSON.stringify({ users, routes, flash }, null, 2)
//-   //- if messages && messages.success
//-   //-   each msg in messages.success
//-   //-     .alert.alert-success= msg

//-   //- if messages && messages.error
//-   //-   each msg in messages.error
//-   //-     .alert.alert-danger= msg
//-   if flash && flash.success
//-     each msg in flash.success
//-       .alert.alert-success= msg

//-   if flash && flash.error
//-     each msg in flash.error
//-       .alert.alert-danger= msg

//-   // Rest of the page content
//-   h2 The list of all our dear clients
//-   p= 'Users count: ' + users.length
//-   p Users count: #{users.length}
//-   ul
//-     each user in users
//-       li
//-         a(href=routes.userShow(user.id)) #{user.name} (#{user.email})
//-         //- a(href=`/users/${user.id}`) #{user.username} (#{user.email})
//-   a(href=routes.newUser()) Новый пользователь



